*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}
img{
    border: none;
}
a{
    outline: none;
    text-decoration: none;
}
a:focus{
    outline: none;
}
ul ,li {
    list-style: none;
}
body{
    position: relative;
}
.clearfix:after{
    content: " ";
    height: 0;
    width: 0;
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
}