
.g-container .m-top{
    position: relative;
    height: 31px;
}

.g-container .m-top button{
    position: absolute;
    top: 0;
    width: 14px;
    height: 25px;
    z-index: 2;
    background: url(./../img/icon2.png) no-repeat;
}
.g-container .m-top .backBtn{
     background-position: -249px 0;
     left: 0;
 }
.g-container .m-top .okBtn {
    background-position: -32px 0;
    width: 39px;
    right: 0;
}
.g-container .m-top h1:after{
    content: "";
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 25px;
    width: 10px;
    margin-left: 10px;
    background: url(./../img/icon2.png) no-repeat;
    background-position: -10px 0;
}
@media all and (min-width: 700px) {
    .g-container .m-top{
        height: 50px;
    }

    .g-container .m-top button{
        width: 21px;
        height: 37px;
        background: url(./../img/iconPad.png) no-repeat;
    }
    .g-container .m-top .backBtn{
        background-position: -373px 0;
    }
    .g-container .m-top .okBtn {
        background-position: -48px 0;
        width: 59px;
    }
    .g-container .m-top h1:after{

        height: 38px;
        width: 15px;
        margin-left: 10px;
        background: url(./../img/iconPad.png) no-repeat;
        background-position: -15px 0;
    }

}
.g-container .m-popUpInfo{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 50%;
    top:50%;
    margin-left: -75px;
    line-height: 40px;
    border-radius: 5px;
    box-shadow: 0 0 5px #777;
    opacity: 0;
    text-align: center;
    background-color: #ffffff;
    z-index: 999;

}
.f-full{
    height: 100%;
    width: 100%;
}
.f-mask{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.2);
}
.f-padding7{
    padding: 7px;
}
.f-margin7{
    margin: 7px;
}

.g-container .m-begin{
    background: url(./../img/page1bg.jpg) no-repeat center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #ffffff;
}

.m-begin .word{
    position: absolute;
    width: 100%;
    height: 50px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}
.m-begin .link{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 13%;
    text-align: center;
}
.m-begin .link a{
    display: inline-block;
    width: 75px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    border: 1px #ffffff solid;
    margin: 0 5px;

}

@media all and (min-width: 700px) {
    .m-begin .word{
        font-size: 30px;
    }
    .m-begin .link a{
        width: 100px;
        height: 33px;
        line-height: 33px;
        font-size: 14px;
    }
}

.g-container .m-case{
    background-color: #e7e7e7;
}
.m-case .list .item{
    margin: 7px 0;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
    padding: 0 10px;

    background-color: #ffffff;
}
.m-case .item .link{
    display: block;
    color: #656565;
}
.m-case .item .title{
    font-size: 11px;
    line-height: 1.4;
}
.m-case .item .content img{
    max-width: 100%;
}
.m-case .item .footer{
    height: 26px;
    margin-top: 5px;
    text-align: right;
}
.m-case .item .footer .detail:after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url(./../img/icon2.png) no-repeat -22px 0;
}

.m-case .item .footer .detail span{
    font-size: 11px;
    transform:scale(0.8);
}
@media all and (min-width: 700px) {
    .m-case .item .footer .detail:after{
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background: url(./../img/icon2.png) no-repeat -33px 0;
    }
    .m-case .item .footer .detail span{
        font-size: 13px;
    }
}
.g-container .m-scene{
    padding-bottom: 7px;
}
.g-container .m-scene  .m-top h1{
    position: absolute;
    width: 100%;
    height: 31px;
    line-height: 31px;
    font-size: 15px;
    color: #535353;
    text-align: right;

}
.m-scene .list img{
    max-width: 100%;
}
.m-scene .list{
    margin-left: .4%;
}
.m-scene .item{
    float: left;
    width: 48%;
    margin: 0 1% 10px 1%;
}
.m-scene .item a{
    display: block;
}
.m-scene .item .desc p{
    font-size: 12px;
    color: #535353;
    line-height: 1.7;
}
@media all and (min-width: 700px){
    .m-scene .item .desc p{
        font-size: 14px;
    }
}
.g-container .m-drag,
.g-container .m-show{
    position: relative;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
.g-container .m-drag .backBtn{
    background-position: -280px 0;
}
@media all and (min-width: 700px) {
    .g-container .m-drag .backBtn{
        background-position: -420px 0;
    }
}
.g-container .bg-1_2m-1m-test1{
    background: url("./../img/1_2m-1m-test1.jpg") ;
    background-size: 100%;
}
.g-container .bg-1_2m-1m-test2{
    background: url("./../img/1_2m-1m-test2.jpg") ;
    background-size: 100%;
}
.g-container .bg-1_2m-1m-test3{
    background: url("./../img/1_2m-1m-test3.jpg");
    background-size: 100%;
}
.g-container .bg-1_5m-1m-test1{
    background: url("./../img/1_5m-1m-test1.jpg");
    background-size: 100%;
}


.g-container .bg-1_5m-1m-test2{
    background: url("./../img/1_5m-1m-test2.jpg");
    background-size: 100%;
}
.g-container .bg-1_5m-1m-test3{
    background: url("./../img/1_5m-1m-test3.jpg");
    background-size: 100%;
}
.g-container .bg-1_5m-1m-test4{
    background: url("./../img/1_5m-1m-test4.jpg");
    background-size: 100%;
}
.g-container .bg-1_5m-1m-test5{
    background: url("./../img/1_5m-1m-test5.jpg");
    background-size: 100%;
}

.g-container .bg-1_5m-1m-test6{
    background: url("./../img/1_5m-1m-test6.jpg");
    background-size: 100%;
}
.g-container .bg-2_0m-1m-test1{
    background: url("./../img/2_0m-1m-test1.jpg");
    background-size: 100%;
}
.g-container .bg-2_0m-1m-test2{
    background: url("./../img/2_0m-1m-test2.jpg");
    background-size: 100%;
}
.g-container .bg-2_0m-1m-test3{
    background: url("./../img/2_0m-1m-test3.jpg");
    background-size: 100%;
}
.g-container .bg-2_0m-1m-test4{
    background: url("./../img/2_0m-1m-test4.jpg");
    background-size: 100%;
}
/*对拼图页面重新定义m-top*/
.g-container .m-drag .m-top{
   position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    height: 31px;
}

.m-drag .control
{
    position: absolute;
    top: 31px;
    margin: 20px auto 0 auto;
    left: 7px;
    right: 7px;
    background-color: transparent;
    z-index: 80;
}
@media all and (min-width: 700px){
    .g-container .m-drag .m-top{

        height: 50px;
    }
    .m-drag .control{
        top: 50px;
        left: 10px;
        right: 10px;
    }
}
.m-drag .control .notice{
    position: absolute;
    display: none;
    border: 1px red dashed;
    font-size: 11px;
    color: red;
}
.m-drag .control .footer{
    background-color: transparent;
}
.m-drag .fixed{
    position: fixed;
    left: 7px;
    right: 7px;
    z-index: 2;
    text-align: center;
    bottom: 0;
    opacity: 0;
}
/*放大或者缩小的icon*/
.m-drag .fixed .magnify{
    width: 31px;
    height: 30px;
    float: right;
    background: transparent url(./../img/icon2.png) no-repeat;
}
.m-drag .fixed .delete{
    display: inline-block;
    width: 18px;
    height: 26px;
    vertical-align: middle;
    background: transparent url(./../img/icon2.png) no-repeat;
    background-position: -196px 0;
}

.m-drag .fixed .total{
     display: block;
     float: left;
     height: 30px;
     line-height: 30px;
     font-size: 16px;
     color: #ffffff;
     font-weight: bold;
    text-indent: 40px;
    vertical-align: middle;
 }

.m-drag .fixed .total:before{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 31px;
    height: 30px;
    background: url(./../img/icon2.png) no-repeat;
    background-position: -216px 0;

}
.m-drag .magnify.on{
    background-position: -130px 0;
}
.m-drag .magnify.off{
    background-position: -163px 0;
}
@media all and (min-width: 700px) {
    .m-drag .fixed .magnify{
        width: 46px;
        height: 45px;
        background: transparent url(./../img/iconPad.png) no-repeat;
    }
    .m-drag .fixed .delete{
        display: inline-block;
        width: 27px;
        height: 39px;
        vertical-align: middle;
        background: transparent url(./../img/iconPad.png) no-repeat;
        background-position: -294px 0;
    }
    .m-drag .fixed .total{
        height: 45px;
        line-height: 45px;
        font-size: 18px;
        color: #ffffff;
        text-indent: 55px;
    }
    .m-drag .fixed .total:before{
        width: 46px;
        height: 45px;
        background: url(./../img/iconPad.png) no-repeat;
        background-position: -324px 0;

    }
    .m-drag .magnify.on{
        background-position: -195px 0;
    }
    .m-drag .magnify.off{
        background-position: -244px 0;
    }

}
.m-drag .footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 2;
    height: 0;
    padding: 0;
}
.m-drag .footer .content{
    position: relative;
    border: 1px solid #a9a9a9;
}

.m-drag .footer .next,
.m-drag .footer .prev{
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto 0;
    width: 27px;
    height: 25px;
    background: url(./../img/icon2.png) no-repeat;
}
.m-drag .footer .prev{
    left: 7px;
    background-position: -73px 0;
}
.m-drag .footer .next{
    right: 7px;
    background-position: -102px 0;
}
.m-drag .footer .dragList{
    margin-left: 32px;
    margin-right: 32px;
    font-size: 0;
}
@media all and (min-width: 700px){

    .m-drag .footer .next,
    .m-drag .footer .prev{

        width: 40px;
        height: 37px;
        background: url(./../img/iconPad.png) no-repeat;
    }
    .m-drag .footer .prev{
        left: 10px;
        background-position: -109px 0;
    }
    .m-drag .footer .next{
        right: 10px;
        background-position: -153px 0;
    }
    .m-drag .footer .dragList{
        margin-left: 48px;
        margin-right: 48px;
    }
}
.m-drag .footer .item{
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 25%;
    text-align: center;
}
.m-drag .control .picGroup{
    overflow: hidden;
}

.m-drag .footer .item .picGroup{
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    text-align: center;
    z-index: 3;
    overflow: hidden;
}
.m-drag .footer .pic{
    max-width: 100%;
}
.m-drag .item .name,
.m-drag .item .price{
    font-size: 11px;
    text-align: center;
    transform:scale(0.8);
}
.m-drag  .picGroup .pic{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    bottom: 0;
    right: 0;
    margin: auto;

}
/*放大相框后生成的元素  开始*/
.m-drag .control .changePic{
    position: absolute;
    margin: auto 0;
    width: 14px;
    height: 25px;
    top: 0;
    bottom: 0;
    background: url(./../img/icon2.png) no-repeat;
}
.m-drag .control .footer{
    position: absolute;
    bottom: -5px;
    text-align: center;
    height: 30px;
}
.m-drag .control .sure{
    width: 80px;
    height: 30px;
    line-height: 30px;
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
}

.m-drag .control .changePic.prev{
    background-position: -249px 0;
    left:7px
}
.m-drag .control .changePic.next{
    background-position: -265px 0;
    right: 7px;
}
@media all and (min-width: 700px) {
    .m-drag .control .changePic{

        width: 21px;
        height: 37px;
        background: url(./../img/iconPad.png) no-repeat;
    }
    .m-drag .control .footer{
        height: 45px;
    }
    .m-drag .control .sure{
        width: 150px;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
    }

    .m-drag .control .changePic.prev{
        background-position: -373px 0;
        left:10px
    }
    .m-drag .control .changePic.next{
        background-position: -397px 0;
        right: 10px;
    }
}
.m-drag .control .head{
    margin-top: 5px;
}

/*结束*/

.g-container .m-show{
    position: relative;
    font-size: 12px;
}

.m-show .showContent{
    margin-left: 7px;
    margin-right: 7px;
}

.m-show .picGroup{
    position: absolute;
    overflow: hidden;
    opacity: 0;
    box-shadow: 2px 2px  2px #888;
}
.m-show  .picGroup .pic{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;

}
.m-show .bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 65px;
    z-index: 100;

}
@media all and (min-width: 768px) {
    .m-show .bottom{
        height: 100px;
    }
}
.m-show .bottom .price{
    height: 15px;
    line-height: 15px;
    text-align: right;
    color: #ff3a41;
    font-size: 15px;
    padding: 0 5% 20px 0;
}
@media all and (min-width: 768px) {
    .m-show .bottom .price{
        height: 24px;
        line-height: 24px;
        font-size: 18px;
        padding-bottom: 30px;

    }
}
.m-show .bottom .handle{
    height: 45px;
    line-height: 45px;
}
@media all and (min-width: 768px) {
    .m-show .bottom .handle{
        height: 76px;
        line-height: 76px;

    }
}
.bottom .handle button{
    height: 45px;
    float: left;
    width: 50%;
    line-height: 45px;
    background-color: #ff3a41;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;

}
@media all and (min-width: 768px) {
    .bottom .handle button{
        height: 76px;
        line-height: 76px;
        font-size: 14px;

    }
}
.m-show .resetInfo{
    position: absolute;
    padding: 10px;
    width: 90%;
    top:20%;
    margin-left: 5%;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
}
.m-show .resetInfo .desc{
    padding-bottom: 10px;
    line-height: 2.0;
}
.m-show .resetInfo button{
    height: 25px;
    line-height: 25px;
    width: 30%;
    padding: 0 5%;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;

}
@media all and (min-width: 768px) {
    .m-show .resetInfo button{
        height: 45px;
        line-height: 45px;
        font-size: 14px;

    }
}
.m-show .resetInfo .cancel{
    margin-left: 10px;
}
