.m-living .u-notice{
    position: absolute;
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    border: dotted 1px rgba(255, 0, 0, 0.76);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;

}
.f-shiny{
    box-shadow:inset 0 0 5px red;
    -webkit-animation: shiny .5s ease-in infinite alternate;
    -o-animation: shiny .5s ease-in infinite alternate;
    animation: shiny .5s ease-in infinite alternate;
}
.m-living .u-notice-0{
    top:230px;
    left: 150px;
}
.m-living .u-notice-1{
    top:380px;
    left: 200px;
}
@keyframes shiny{
    100%{
        box-shadow: 0 0 10px red;
    }
}
@-webkit-keyframes shiny{
    100%{
        box-shadow: 0 0 10px red;
    }
}
@-o-keyframes shiny{
    100%{
        box-shadow: 0 0 10px red;
    }
}